<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.heycolor.wmdianpudemo.mapper.ManageMapper">

    <insert id="addAdmin" >
        INSERT INTO admin (apptype, code)
        VALUES (#{apptype}, #{code})
    </insert>
    <insert id="addMinfo">
        INSERT INTO minfo (mp4, imgtx1, txt1, biaojia, imgtx2, txt2, txt3, txt4, txt5, marqueeText, pingjia,imgdz)
        VALUE (#{mp4}, #{imgtx1}, #{txt1}, #{biaojia}, #{imgtx2}, #{txt2}, #{txt3}, #{txt4}, #{txt5}, #{marqueeText}, #{pingjia},#{imgdz})
    </insert>
    <insert id="addXlist">
        INSERT INTO  xlist (showtype,txt1,txt2)
        VALUE (#{showtype},#{txt1}, #{txt2})
    </insert>
    <insert id="addYlist">
        INSERT INTO ylist (xid,tuPianUrl, txt1, txt2, txt3, txt4, txt5, txt6, txt7, txt8, txt9, txt10, txt11, txt12 )
        VALUES (#{xid},#{tuPianUrl}, #{txt1}, #{txt2}, #{txt3}, #{txt4}, #{txt5}, #{txt6}, #{txt7}, #{txt8}, #{txt9}, #{txt10}, #{txt11}, #{txt12})
    </insert>
    <update id="updateAdmin" >
        UPDATE admin
        SET apptype = #{apptype},
            code    = #{code}
        WHERE id = #{id};
    </update>
    <update id="updateMinfo">
        UPDATE minfo
        SET mp4 = #{mp4},
            imgtx1 = #{imgtx1},
            txt1 = #{txt1},
            biaojia = #{biaojia},
            imgtx2 = #{imgtx2},
            txt2 = #{txt2},
            txt3 = #{txt3},
            txt4 = #{txt4},
            txt5 = #{txt5},
            marqueeText = #{marqueeText},
            pingjia = #{pingjia},
            imgdz = #{imgdz}
        WHERE id = #{id};
    </update>
    <update id="updateXlist">
        UPDATE xlist
        SET showtype = #{showtype},
            txt1 = #{txt1},
            txt2 = #{txt2}
        WHERE id = #{id};
    </update>
    <update id="updateYlist">
        UPDATE ylist
        SET xid = #{xid},
            tuPianUrl = #{tuPianUrl},
            txt1 = #{txt1},
            txt2 = #{txt2},
            txt3 = #{txt3},
            txt4 = #{txt4},
            txt5 = #{txt5},
            txt6 = #{txt6},
            txt7 = #{txt7},
            txt8 = #{txt8},
            txt9 = #{txt9},
            txt10 = #{txt10},
            txt11 = #{txt11},
            txt12 = #{txt12}
        WHERE id = #{id};
    </update>

    <delete id="deleteXlist">
        DELETE FROM xlist WHERE id = #{id}
    </delete>

    <delete id="deleteYlist">
        DELETE FROM ylist WHERE id = #{id}
    </delete>
    <select id="getXlist" resultType="com.heycolor.wmdianpudemo.myBean.xlist">
        SELECT x.* FROM xlist x
                            INNER JOIN (
            SELECT id FROM xlist
            ORDER BY id DESC
            <if test="pageSize != -1">
                LIMIT #{pageSize} OFFSET #{pageStart}
            </if>
        ) AS tmp ON x.id = tmp.id
        ORDER BY x.id ASC ;
    </select>
    <select id="getYlist" resultType="com.heycolor.wmdianpudemo.myBean.ylist">
        SELECT x.* FROM ylist x
                            INNER JOIN (
            SELECT id FROM ylist
            ORDER BY id DESC
            <if test="pageSize != -1">
                LIMIT #{pageSize} OFFSET #{pageStart}
            </if>
        ) AS tmp ON x.id = tmp.id
        ORDER BY x.id ASC;
    </select>
    <select id="checkXid" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM xlist WHERE id = #{id});
    </select>
    <select id="checkXidOnYlist" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM ylist WHERE xid = #{id});
    </select>
    <select id="getAdminList" resultType="com.heycolor.wmdianpudemo.myBean.admin">
        SELECT x.* FROM admin x
                            INNER JOIN (
            SELECT id FROM admin
            ORDER BY id DESC
            <if test="pageSize != -1">
                LIMIT #{pageSize} OFFSET #{pageStart}
            </if>
        ) AS tmp ON x.id = tmp.id
        ORDER BY x.id ASC;
    </select>
    <select id="getXlistTotal" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM xlist;
    </select>
    <select id="getYlistTotal" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ylist;
    </select>
    <select id="getAdminTotal" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM admin;
    </select>


</mapper>
